:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --dark-background-color: #2F303A;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}
/* Хедер */
.head {
    background-color: #fff;
}
.head li {
    list-style-type: none;
}
.logo {
    font-family: Raleway;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo span {
    color: #000;
}
.site-nav a {
    color: var(--primary-text-color);
    text-decoration: none; 
}
.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:focus {
    color: var(--accent-color);
}
.info-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.info-link a {
    color: var(--text-color);
    text-decoration: none;
}
.info-link .mail:hover {
    color: var(--accent-color);
}
.info-link .tel:hover {
    color: var(--accent-color);
}
.info-link .mail:focus {
    color: var(--accent-color);
}
.info-link .tel:focus {
    color: var(--accent-color);
}
/* Основна частина */
.hero {
    background-color: var(--dark-background-color);
}
.hero h1 {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.hero button {
    cursor: pointer;
}

.button {
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
.main h3 {
   color: var(--primary-text-color); 
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
}
.main p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.main li {
    list-style-type: none;
}
.working {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}  
.working li {
    list-style-type: none;
}
.profile {
    background-color: #F5F4FA;
}
.profile h2 {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.profile img {
    background-color: #fff;
}
.name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.specialty {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.profile li {
    list-style-type: none;
}
/* Футер */
.footer {
    background-color: var(--dark-background-color);
}
.logo-footer {
    color:var(--accent-color) ;
    font-family: 'Raleway';
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-footer span {
    color: #FFFFFF;
    font-family: 'Raleway';
    text-decoration: none;
}
.address {
    font-family: 'Roboto';
    font-style: normal;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.address a:hover {
    color: var(--accent-color);
}
.address a:focus {
    color: var(--accent-color);
}
/* Портфоліо */
.portfolio ul {
    list-style-type: none;
}
.list-button button {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: 'Roboto';
}
.list-button button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.list-button button:hover {
    background-color: var(--accent-color);
        color: #FFFFFF;
}
.list-project a {
    text-decoration: none;
}
.project {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.type-project {
    font-size: 16px;
    line-height: 30px;  
    letter-spacing: 0.03em;
    color: var(--text-color);
}